<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anexon.noor">
    <!-- This keeps the Window background of the activity showing
         until Flutter renders its first frame. It can be removed if
         there is no splash screen (such as the default splash screen
         defined in @style/LaunchTheme). -->
    <meta-data
      android:name="io.flutter.embedding.android.SplashScreenDrawable"
      android:resource="@drawable/launch_background"
      />
</manifest>

